@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary:       #242F40;
  --color-primary: #1d202e;
  --color-bg: #FFF;
  --color-bg-secondary:   #FFF;
  --color-muted: #9ca3af;

  --color-background:         oklch(1 0 0);
  --color-foreground:         oklch(0.145 0 0);
  --color-card:               oklch(1 0 0);
  --color-card-foreground:    oklch(0.145 0 0);
  --color-popover:            oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);
  --color-muted:              oklch(0.97 0 0);
  --color-muted-foreground:   oklch(0.556 0 0);
  --color-border:             oklch(0.922 0 0);
  --color-input:              oklch(0.922 0 0);
  --color-ring:               oklch(0.708 0 0);
  --radius:                   0.625rem;
}

button {
  @apply hover:opacity-80 cursor-pointer transition duration-300;
}
